body {
    background: #333333;
}

.todo {
    width: 450px;
    height: 800px;

    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--text);

    background: #fff;
    border-radius: 20px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-container {
        max-width: 380px;
        margin: auto;
    }
}