:root {
    --white: #ffffff;
    --purple: #9C89B8;
    --text: #49444C;
    --pink: #FFC8DD;
    --green: #CEEDC7;
    --red: #FF9494;
    --orange: #FF9494;
    --yellow: #FFF6BD;
    --blue: #D7E3FC;
}