select {
    width: 240px;
    height: 40px;

    border: 1px solid var(--purple);
    border-radius: 8px;

    font-size: 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--text);
}